body {
    margin: 0;
    padding: 0;
    align-content: center;
  }


  #mainCanvas {
    width: 100%;
    height: 100%;
    background: #CCF;
    box-sizing: border-box;
    border: 1px black solid;
  }